@{
    ViewData["Title"] = "Home Page";
}

@{
    string name = "Giuseppe";
    string surname = "Mirizzi";
}

@{
    int sum(int n)
    {
        int sum = 0;
        for (int i = 1; i <= n; i++)
        {
            sum += i;
        }
        return sum;
    }
}

@{
    char newChar = 'a';
    string newString = "nel mezzo del cammin di nostra vita";
    int charCount(char c, string s)
    {
        int n = 0;
        for (int i = 0; i < s.Length; i++)
        {
            if (c == s[i])
                n++;
        }
        return n;
    }
}

@{
    List<int> numberList = new List<int>(20);
    for (int i = 0; i < numberList.Capacity; i++)
    {
        numberList.Add(new Random().Next(1, 91));
    }
}

<div class="text-center">
    <h2 class="display-4">@name @surname</h2>
    <span>@sum(4)</span>
    <div>La lettera "@newChar" è presente nella frase "@newString" @charCount(newChar, newString) volte.</div>
    <div class="text-start">
        Numeri:
    <ol>
        @foreach (int num in numberList)
        {
            if (num >= 20 && num <= 70) {
                <li>@num</li>
            }
        }
    </ol>
    </div>
</div>
